:root {
  --color-mint: #9effbf;
  --color-violet: #7941a7;
  --color-violet-soft: #e2beff;
  --color-blue: #1059c8;
  --color-black: #101010;
  --color-gray-dark: #232323;
  --color-gray: #868686;
  --color-gray-light: #f3f3f3;
  --color-white: #ffffff;
}
